footer {
  display: flex;
  color: #f6f6f6;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #353535;
  margin-top: auto;
}

footer h4 {
  margin: 20px 20px 10px;
}

footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

footer ul li {
  margin: 5px 20px;
  padding: 5px;
}

footer ul li i {
  padding-right: 5px;
  width: 20px;
}

footer ul .partner-icon {
  transform: rotate(-35deg);
}

/* Mise en place des Media Queries */

@media all and (min-width: 992px) {

  footer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  footer h4 {
    margin: 10px 40px 10px;
  }
  
  footer ul {
    max-width: 992px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

}
