footer {
  display: flex;
  align-items: center;
  color: #f6f6f6;
  justify-content: center;
  background-color: #353535;
  margin-top: auto;
}

footer h4 {
  padding-left: 40px;
}

footer ul {
  display: flex;
  max-width: 1440px;

  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}

footer ul li {
  margin: 5px 0px;
  margin: 5px 20px;
  padding: 5px;
}
