/*--import des variables--*/

@import "../utils/variables";

/* ----MODE D'EMPLOI du site---- */

.reservation {
  background-color: $colour-background;
  display: flex;
  padding: 20px 35px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.btn-princ {
  justify-content: center;
  background: $colour-gradient;
  border-radius: 26px;
  padding: 15px 20px;
  width: 250px;
  font-weight: 700;
  border: none;
  box-shadow: $button-shadow;
  margin: 20px;
  color: #ffff;
  transition: all 500ms;
  &:hover {
    box-shadow: $main-button-shadow;
    transform: scale(1.05);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.website-manual {
  display: flex;
  flex-wrap: wrap;
}

.website-manual h2 {
  margin: 20px 40px;
}

.website-manual ul {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
}

.website-manual ul li {
  background-color: $colour-background;
  display: flex;
  position: relative;
  align-items: center;
  height: 100px;
  margin: 10px 15px;
  border-radius: 20px;
  box-shadow: 3px 7px 19px -8px #999;
}

.website-manual ul li:hover {
  background-color: rgba(130, 62, 185, 0.123);
  cursor: pointer;
  transition: all 500ms;
  &.website-manual ul li i {
    color: $colour-purple;
  }
}

.website-manual ul li div {
  display: flex;
  padding: 20px;
  align-items: center;
}

.website-manual ul li i {
  color: #757575;
  font-size: 30px;
  padding-right: 20px;
}

.website-manual ul li p {
  font-size: 18px;
  font-weight: 500;
}

section.website-manual ul li:hover .fas:before {
  color: $colour-purple;
}

.number {
  border-radius: 50%;
  background: $colour-purple;
  position: relative;
  left: -18px;
  color: $colour-white;
  height: 35px;
  width: 35px;
  padding: 6px;
  text-align: center;
  align-items: center;
  font-weight: 400;
}

/*----Section dédiée aux RESTAURANTS----*/

section {
  padding: 20px;
}

.restaurants {
  background-color: $colour-background;
}

.main-page-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.restaurants article {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $colour-white;
  border-radius: 22px;
  padding: 0px;
  box-shadow: 0px 3px 23px -10px #999;
}

.restaurants article figure {
  display: flex;
  flex-direction: column;
}

.restaurant-card-img {
  max-height: 200px;
  overflow: hidden;
  display: flex;
  object-position: bottom;
}

.restaurants article figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 15px;
}

.restaurants article figcaption i {
  display: flex;
  justify-content: flex-end;
}

.restaurants article figure div img {
  width: 100%;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
  object-position: 50% 61%;
}

.restaurant-card-text {
  height: 80px;
  margin-top: 15px;
}

.restaurants span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #008766;
  padding: 7px;
  border-radius: 5px;
  background-color: $colour-green;
  transition: all 300ms;
  &:hover {
    border-radius: 10px;
    color: $colour-white;
    background-color: darken($colour-green, 10);
  }
}

/*---Mise en Place des Media Queries---*/

@media all and (min-width: 992px) {
  .btn-princ {
    width: 28%;
  }

  .website-manual ul {
    flex-direction: row;
  }

  .website-manual ul li {
    width: 30%;
  }

  .restaurants article {
    width: 24%;
  }

  .restaurant-card-img {
    max-height: 150px;
  }
}
