@charset "UTF-8";
/* ----MODE D'EMPLOI du site---- */
.reservation {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 35px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-princ {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(196deg, #df7ace 20%, #9a47f8 80%);
  border-radius: 33px;
  padding: 15px 20px;
  border: none;
  -webkit-box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.7);
  margin: 20px;
  color: #ffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.website-manual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.website-manual h2 {
  margin: 20px 40px;
}

.website-manual ul {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.website-manual ul li {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin: 10px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px #999;
          box-shadow: 0px 5px 20px #999;
}

.website-manual ul li:hover {
  background-color: rgba(229, 164, 235, 0.418);
}

.website-manual ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.website-manual ul li i {
  color: #757575;
  font-size: 30px;
  padding-right: 20px;
}

.website-manual ul li p {
  font-size: 18px;
  font-weight: 500;
}

.number {
  border-radius: 50%;
  background: #9356dc;
  position: relative;
  left: -18px;
  color: #ffff;
  height: 35px;
  width: 35px;
  padding: 6px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

/*----Section dédiée aux RESTAURANTS----*/
section {
  padding: 20px;
}

.restaurants {
  background-color: #f6f6f6;
}

.main-page-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1440px;
}

.restaurants article {
  width: 100%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #ffff;
  border-radius: 22px;
  padding: 0px;
  -webkit-box-shadow: 0px 3px 23px -10px #999;
          box-shadow: 0px 3px 23px -10px #999;
}

.restaurants article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant-card-img {
  max-height: 240px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants article figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 15px;
  font-size: 15px;
}

.restaurants article figcaption i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restaurants article figure div img {
  width: 100%;
  border-radius: 18px 18px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 61%;
     object-position: 50% 61%;
}

.restaurant-card-text {
  height: 80px;
  margin-top: 15px;
}

.heart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 80px;
}

.heart-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  color: #353535;
  margin-right: 15px;
}

.heart-icon--full {
  position: absolute;
  right: 15px;
  color: transparent;
  opacity: 0;
  font-size: 24px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.restaurants span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #008766;
  padding: 7px;
  border-radius: 5px;
  background-color: #99e2d0;
}
/*# sourceMappingURL=mainpage.css.map */