@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
}

img {
  border-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 16px;
  line-height: 1.5;
}

/* Taille des polices et des titres */
h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 5px 30px;
}

h2 {
  font-weight: 800;
  font-size: x-large;
  padding: 0px;
  margin: 20px 5px 10px;
}

h3 {
  font-size: medium;
  padding: 8px 0 0 0;
  margin-right: 15px;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: x-large;
}

p {
  font-weight: 400;
  padding: 3px 0px;
}

textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9034db;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  background-color: #353535;
  margin-top: auto;
}

footer h4 {
  margin: 20px 20px 10px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

footer ul li {
  margin: 5px 20px;
  padding: 5px;
}

footer ul li i {
  padding-right: 5px;
  width: 20px;
}

footer ul .partner-icon {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

/* Mise en place des Media Queries */
@media all and (min-width: 992px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer h4 {
    margin: 10px 40px 10px;
  }
  footer ul {
    max-width: 992px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* ---HEADER---*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.website-title {
  background-color: #f6f6f6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
          box-shadow: 0px 0px 10px 3px #b9b9b9;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 30px;
  font-size: xx-large;
}

.website-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  position: absolute;
  top: -2px;
  left: 8px;
  font-size: 22px;
}

/* ---Bandeau de localisation de la page--- */
.localization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eaeaea;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

header i {
  padding: 20px;
}

/* ----MODE D'EMPLOI du site---- */
.reservation {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 35px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-princ {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(160deg, #df7ace 30%, #9a47f8 95%);
  border-radius: 26px;
  padding: 15px 20px;
  width: 66%;
  border: none;
  -webkit-box-shadow: 0px 5px 5px 1px #b9b9b9;
          box-shadow: 0px 5px 5px 1px #b9b9b9;
  margin: 20px;
  color: #ffff;
}

.btn-princ:hover {
  -webkit-box-shadow: 5px 5px 5px 2px #b9b9b9;
          box-shadow: 5px 5px 5px 2px #b9b9b9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a {
  text-decoration: none;
  color: inherit;
}

.website-manual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.website-manual h2 {
  margin: 20px 40px;
}

.website-manual ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.website-manual ul li {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin: 10px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 7px 19px -8px #999;
          box-shadow: 3px 7px 19px -8px #999;
}

.website-manual ul li:hover {
  background-color: rgba(130, 62, 185, 0.123);
  cursor: pointer;
}

.website-manual ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.website-manual ul li i {
  color: #757575;
  font-size: 30px;
  padding-right: 20px;
}

.website-manual ul li p {
  font-size: 18px;
  font-weight: 500;
}

.number {
  border-radius: 50%;
  background: #9356dc;
  position: relative;
  left: -18px;
  color: #ffff;
  height: 35px;
  width: 35px;
  padding: 6px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

/*----Section dédiée aux RESTAURANTS----*/
section {
  padding: 20px;
}

.restaurants {
  background-color: #f6f6f6;
}

.main-page-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.restaurants article {
  width: 100%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #ffff;
  border-radius: 22px;
  padding: 0px;
  -webkit-box-shadow: 0px 3px 23px -10px #999;
          box-shadow: 0px 3px 23px -10px #999;
}

.restaurants article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant-card-img {
  max-height: 220px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants article figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 15px;
  font-size: 15px;
}

.restaurants article figcaption i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restaurants article figure div img {
  width: 100%;
  border-radius: 18px 18px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 61%;
     object-position: 50% 61%;
}

.restaurant-card-text {
  height: 80px;
  margin-top: 15px;
}

.heart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 80px;
}

.heart-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  opacity: 1;
  color: #353535;
  margin-right: 15px;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.heart-icon--full {
  position: absolute;
  right: 15px;
  color: transparent;
  opacity: 0;
  font-size: 24px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.heart-icon:hover {
  opacity: 0;
}

.heart-icon--full:hover {
  color: #9356dc;
  opacity: 1;
  -webkit-transform: scale 1.3;
          transform: scale 1.3;
}

.restaurants span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #008766;
  padding: 7px;
  border-radius: 5px;
  background-color: #99e2d0;
}

/*---Mise en Place des Media Queries---*/
@media all and (min-width: 992px) {
  .btn-princ {
    width: 28%;
  }
  .website-manual ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .website-manual ul li {
    width: 30%;
  }
  .restaurants article {
    width: 24%;
  }
  .restaurant-card-img {
    max-height: 150px;
  }
}

.lead-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  margin-bottom: -35px;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
}

.menu {
  background: #f6f6f6;
  border-radius: 30px 30px 0 0;
  padding: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.menu-meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses-list {
  width: 100%;
}

.courses-list h2 {
  position: relative;
  font-size: 24px;
  font-weight: 300;
}

.courses-list h2::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 36px;
  border-bottom: 3px solid #99e2d0;
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffff;
  border-radius: 15px;
  overflow: hidden;
  margin: 13px 0;
  -webkit-box-shadow: 0px 5px 10px -10px black;
          box-shadow: 0px 5px 10px -10px black;
}

.courses:hover + course-bloc-icon {
  width: 15%;
  opacity: 1;
  -webkit-transition: width 700ms ease-in-out;
  transition: width 700ms ease-in-out;
}

.courses-infos {
  width: 75%;
  margin: 0 10px;
  padding: 5px 5px 0;
  overflow: hidden;
}

.courses-infos p {
  font-weight: 300;
  padding: 5px 0 8px 0;
}

.courses-prices {
  text-align: end;
  font-weight: 600;
  margin-right: 4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.courses-block-icon {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  -webkit-transition: width 700ms ease-in-out;
  transition: width 700ms ease-in-out;
}

.courses-icon {
  color: #ffff;
  font-size: 24px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
}

.courses-block-icon:hover:courses-icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
}

.btn-restaurant-pages {
  padding: 15px 20px;
  margin: 40px 40px 60px;
  width: 60%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffff;
  border-radius: 30px;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(184deg, #e079c7 0%, #8c2ccc 86%);
  -webkit-box-shadow: 0px 5px 5px 1px #b9b9b9;
          box-shadow: 0px 5px 5px 1px #b9b9b9;
}

.btn-restaurant-pages:hover {
  -webkit-box-shadow: 8px 8px 8px 5px #b9b9b9;
          box-shadow: 8px 8px 8px 5px #b9b9b9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*---Mise en place des Media Queries---*/
@media all and (min-width: 992px) {
  .menu-meals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .courses-list {
    width: 32%;
  }
  .courses {
    width: 95%;
  }
  .btn-restaurant-pages {
    width: 25%;
  }
}
/*# sourceMappingURL=main.css.map */