@import "../utils/variables";

.heart-box {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
}

.heart-box:hover {
  .heart-icon {
    opacity: 0;
  }
  .heart-icon--full {
    opacity: 1;
    transform: scale(1.2);
    color: transparent;
    background: $colour-gradient;
    background-clip: text;
  }
}

.heart-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  opacity: 1;
  color: #353535;
  margin-right: 15px;
  transition: opacity 500ms;
}

.heart-icon--full {
  position: absolute;
  right: 15px;
  color: transparent;
  overflow: hidden;
  background-clip: text;
  opacity: 0;
  font-size: 24px;
  transform-origin: 50% 100%;
  transition: all 500ms;
  background-color: #fff;
}