@import "../utils/variables";

#loader {
  background: $colour-background;
  animation-fill-mode: forwards;
  position: absolute;
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: loading 2s ease-in 3s forwards;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-title {
  position: fixed;
  justify-content: center;
  z-index: 1;
  font-size: 24px;
  animation: pulse 1.3s ease-in-out infinite;
}

.loader-element {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: linear-gradient($colour-green, $colour-pink, $colour-purple);
  animation: spin 0.5s linear infinite;
}

.loader-element::after{
  content:'';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #ffff;
  border-radius: 50%;
}

.loader-element span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient($colour-green, $colour-pink, $colour-purple);
}

.loader-element span:nth-child(1) {
  filter: blur(5px);
}

.loader-element span:nth-child(2) {
  filter: blur(10px);
}

.loader-element span:nth-child(3) {
  filter: blur(25px);
}

.loader-element span:nth-child(4) {
  filter:blur(50px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
