$colour-purple: #9356dc;
$colour-green: #99e2d0;
$colour-pink: #ff79da;
$colour-white: #fff;
$colour-background: #f6f6f6;
$colour-gradient: linear-gradient(160deg, #ff79da 30%, #9356dc 95%);

$heading-shadow: 0px 0px 10px 3px #b9b9b9;
$button-shadow: 0px 5px 5px 1px #b9b9b9;
$main-button-shadow: 0px 1px 12px 1px rgba($color: rgba(0, 0, 0, 0.753), $alpha: 0.7);
$layout-margin: 30px;